h1 {
    font-size: 100%;
    color: #7dad03;
    line-height: 1.5em;
  }
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
